<div class="form-group">
	<label class="col-sm-2 control-label" for="InputText">Snap Item</label>
	<div class="col-sm-10">
		<div>
		<%= f.fields_for :items do |b| %>
			<%= render partial: "admin/snaps/item_form", locals: {f: b } %>
		<% end %>
		<%= f.link_to_add 'Add Item', :items %>
		</div>
	</div>
</div>