<div>
	<%= b.collection_select :genre_id, Genre.all, :id, :genre_name, {}, {:class => "form-control genre-area", :style =>"width: 200px; display: inline-block; margin: 5px 0 0 30px;"} %>
	<%= b.text_field :item_name, id: "InputText", class: "form-control input-sm itemname", style:"width: 400px; display: inline-block; margin: 5px 0 0 5px;", placeholder:"Item Name" %>
	<%= b.hidden_field :id %>

		<%= link_to_remove_field("Delete", b, {}) %>
</div>
