<section id="home" class="home open">
	<p class="outline-title">MAMETRA</p>
	<p class="outline-text">SEISEKISAKURAGAOKA / SINCE2000</p>
</section>
<section id="used&clothing" class="used&clothing open">
	<%= link_to snaps_path do %>
	<h1>SNAP SHOT</h1>
	<% end %>
	<div class="section-content">
	</div>
</section>
<section id="deli&cafe" class="deli&cafe open active">
	<%= link_to delis_path, style: "color: #fff;" do %>
	<h1>DELI CAFE</h1>
	<% end %>
	<div class="section-content">
		<div class="maincontent">
			<h2>DELI CAFE</h2>
			<div class="left-content">
				<h3>WEEKDAY&WEEKEND MENU</h3>
				<%= image_tag "delimenu2.jpg", style: "height:520px;" %>
			</div>
			<div class="right-content">
				<h3>DAILY MENU & MametraTweets</h3>
				<a class="twitter-timeline" width="450px" height="600px"  href="https://twitter.com/search?q=%40Mametraxxx" data-widget-id="972839758744272902">@Mametraxxxに関するツイート</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
			</div>
		</div>
	</div>
</section>
<section id="artspace" class="artspace">
	<%= link_to arts_path do %>
	<h1>ART SPACE</h1>
	<% end %>
<div class="section-content"></div>
</section>
