<section id="home" class="home open">
	<p class="outline-title">MAMETRA</p>
	<p class="outline-text">SEISEKISAKURAGAOKA / SINCE2000</p>
</section>
<section id="used&clothing" class="used&clothing">
	<%= link_to snaps_path do %>
	<h1>SNAP SHOT</h1>
	<% end %>
	<div class="section-content">
	</div>
</section>
<section id="deli&cafe" class="deli&cafe">
	<%= link_to delis_path do %>
	<h1>DELI CAFE</h1>
	<% end %>
	<div class="section-content">
	</div>
</section>
<section id="artspace" class="artspace">
	<%= link_to arts_path do %>
	<h1>ART SPACE</h1>
	<% end %>
	<div class="section-content">
	</div>
</section>
