<section id="home" class="home open">
	<p class="outline-title">MAMETRA</p>
	<p class="outline-text">SEISEKISAKURAGAOKA / SINCE2000</p>
</section>
<section id="used&clothing" class="used&clothing">
	<h1><%=link_to "USED CLOTHING", products_path %></h1>
	<div class="section-content">
	</div>
</section>
<section id="deli&cafe" class="deli&cafe">
	<h1><%=link_to "DELI CAFE", delis_path %></h1>
	<div class="section-content">
	</div>
</section>
<section id="artspace" class="artspace">
	<h1><%=link_to "ART SPACE", arts_path %></h1>
	<div class="section-content">
	</div>
</section>
