<div class="info">
	<div class="section-content">
		<div class="about">
			<h2>ABOUT</h2>
			<p>東京・多摩市の聖蹟桜ヶ丘にある「USED CLOTHING+Kitchen」</p>
			 <p>ジブリ作品「耳をすませば」の舞台となった丘のふもとに店舗があります</p>
		</div>
		<div class="access">
			<h2>ACCESS</h2>
			<div class="access-info">
				<p>OPEN</p>
				<span>12:00 ~ 20:00(Last Order 19:00)</span>
				<p>DAY OFF</p>
				<span>MONDAY</span>
				<p>PHONE NUMBER</p>
				<span>042-355-3699</span>
				<p>MAIL ADDRESS</p>
				<span>mametra1@yahoo.co.jp </span>
				<p>STREET ADDRESS</p>
				<span>〒206-0011</span>
				<span>東京都多摩市関戸4-34-15</span>
			</div>
			<div class="map-info">
				<h3>ROUTE MAP</h3>
				<span>(京王線聖蹟桜ヶ丘駅から徒歩7分)</span>
				<p>
					<%= image_tag ("routemap.jpg") %>
				</p>
			</div>
		</div>
	</div>
</div>