<div class="info">
	<div class="section-content">
		<div class="about">
			<h2>ABOUT</h2>
		</div>
		<div class="access">
			<h2>ACCESS</h2>
			<div class="access-info">
				<p>営業時間</p>
				<span>12:00 ~ 20:00(Last Order 19:00)</span>
				<p>定休日</p>
				<span>MONDAY</span>
				<p>電話番号</p>
				<span>042-355-3699</span>
				<p>住所</p>
				<span>〒206-0011</span>
				<span>東京都多摩市関戸4-34-15</span>
			</div>
			<div class="map-info">
				<h3>ROUTE MAP</h3>
				<p>
					<%= image_tag ("routemap.jpg") %>
				</p>
			</div>
		</div>
	</div>
</div>